@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bruno Ace', cursive;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f1f1f1;
    --color-text: #dfcece;
    --gallery-gap: calc(var(--index) * 20);
}




/* WILL CHANGE */
.content, .hero-section__img, .main-header, .gallery > *{
    will-change: transform;
}

html{
    box-sizing: border-box;
    max-height: 100%;
}

body{
    background-color: #000000;
    background-size: 50px;
    color: #f7f7f7;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}



.wrapper{
    min-height: calc(100vh - calc(var(--gallery-gap)*0.05));
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #7a7a7a1e;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: flex-start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;  
  }
.container-p{
    padding: 0 6vw;
}

.header-inner{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    z-index: 3;
}

.menu__list{
    display: flex;
    gap: calc(var(--index) * 2);
}
.menu__list-link_here{
    color:yellow !important;
    cursor: default;
      
    }

.menu__list-link{
    color: #D9D9D9;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    display: flex;
    padding: 1.2em 1rem;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgba(156, 76, 0, 0.932);
    background: linear-gradient(15deg, #fff01e, #ffc919, #ffcf31, #ffcd2a, #f0dd33, #deb93d, #ce5200, #b42b01, #b9000f) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(255, 196, 0, 0.2);
    transition: background .3s ease;
}


  
  .menu__list-link:hover{
    background-size: 320%;
    background-position: right center;
  }

.menu__list-item :active{
    color: rgb(182, 148, 0);
}

.main{
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


.footer{
    background-color:#000000;
    padding: 0.625rem 0;
    color:#D9D9D9;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__copy{
    padding: 1rem;
    font-size: 0.7rem;
}

.stars{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.stars span{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: #fff;
}

.stars span:nth-child(1) {
    left: 700px;
    animation: speed 12s infinite linear;
}
.stars span:nth-child(2) {
    left: 500px;
    animation: speed 16s infinite linear;
}
.stars span:nth-child(3) {
    left: 200px;
    animation: speed 20s infinite linear;
}
.stars span:nth-child(4) {
    left: 400px;
    animation: speed 15s infinite linear;
}
.stars span:nth-child(5) {
    left: 100px;
    animation: speed 13s infinite linear;
}
.stars span:nth-child(6) {
    left: 950px;
    animation: speed 22s infinite linear;
}
.stars span:nth-child(7) {
    left: 250px;
    animation: speed 21s infinite linear;
}
.stars span:nth-child(8) {
    left: 550px;
    animation: speed 19s infinite linear;
}
.stars span:nth-child(9) {
    left: 750px;
    animation: speed 24s infinite linear;
}
.stars span:nth-child(10) {
    left: 1100px;
    animation: speed 19s infinite linear;
}
.stars span:nth-child(11) {
    left: 1200px;
    animation: speed 12s infinite linear;
}
.stars span:nth-child(12) {
    left: 600px;
    animation: speed 17s infinite linear;
}

@keyframes speed {
    0%{
        opacity: 0;
        bottom: -10%;
        transform: translateY(20px);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateY(20px);
    }
    40%{
        transform: translateY(20px);
    }
    60%{
        transform: translateY(20px);
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        bottom: 110%;
        transform: translateY(20px);
    }
}


.rotate-earth{
        display: flex;
        margin: calc(var(--gallery-gap) * 0.2);  
    }

.sun-move{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth-move, .moon-move{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth-move{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon-move{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earth-move::before, .moon-move::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth-move::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}
.moon-move::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}



@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}

.index-SolarSysrem{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
fieldset {
    border: 1px solid #fffab7;
    padding: var(--index);
    margin: 4rem;
    width: 50%;
}

.planets-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight:900;
    padding: 4rem 0;
}
.gallery-planets{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 4em;
    overflow-x: auto ;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: calc(var(--index) * 28);
}


.gallery-planets__txt{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight:900;
    padding: 1rem 0;
}

.gallery-planets::-webkit-scrollbar-track {
    background: rgba(207, 207, 207, 0.24);
    border-radius: 50px;
}

.gallery-planets::-webkit-scrollbar {
    height: 20px;
}

.gallery-planets::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 50px;
}
.gallery-planets::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 238, 0, 0.575);
}
.gallery-planets::-webkit-scrollbar-thumb:active {
    background-color: yellow;
}


.gallery-planets_item{
    scroll-snap-align: center;
    margin-bottom: 2rem;
}

.gallery-planets__image{
    min-width:15rem;
    height: 15rem;
    padding: 1rem;
    object-fit: cover;
}

.moon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Moon{
    font-size: 4rem;
    font-weight: bold;
    margin: 4rem;
}
.click{
    display: flex;
    align-items: center;
    font-size: 3rem;
    border: transparent;
    color:#ffffff80;
    cursor: pointer;
    border-radius: 1rem;
    padding: 15px 30px;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
}

.click:hover {
    background-image: linear-gradient(90deg, #ffdad8 0%, #d2aaff 50%, #008dce 75%, #ffdad8 100%);
    animation: slidernbw 5s linear infinite;
    color: #ffffff;
    border: none;
    box-shadow: #1ebfff  0px 7px 29px 0px;
   }

.click:active{
    transform: translateY(10px);
    transition: 100ms;
}
   
   @keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }

.moon__img{
    width: 40rem;
}
.moon-title{

    overflow: hidden;
}
.moon-title .text{
    position: relative;
    color: rgb(201, 144, 255);
    font-size: 1.7rem;
    font-weight: 400;
}
.moon-title .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-left: 2px solid rgb(201, 144, 255);;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}



/* PLANETS.HTML */
.hero-section__img{
    width: 40rem;
    position: absolute;
    left: 45vw;
    top: 10vh;
    z-index: -1;
}

.main-header{
    height: 100vh;
}

.main-title{
    font-size: calc(var(--index) * 5);
    position: absolute;
    width: min-content;
    bottom: 10vh;
    line-height: .9;
    color: yellow;
}

.main-title p{
    width: 40rem;
}


.gallery{
    display: flex;
    padding: calc(var(--index) * 30) 0;
}
.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.gallery-item{
    margin-bottom: var(--gallery-gap);
}

 .gallery__right .gallery-item{
    margin-bottom: calc(var(--gallery-gap) );
    margin-left: calc(var(--gallery-gap) * 0.2);
}

.text-block{
    font-size: 1.5rem;
}
.text-block__h{
    color:#f0f0f0;
    margin-bottom: 1.5rem;
}
.text-block_p{
    color: #d1cfcf;
}

.gallery__right .text-block {
    margin-right: calc(var(--gallery-gap) * 0.4);
}

.gallery__right {
    margin-top: calc(var(--gallery-gap) * 0.3);
}

.image{
    width: calc(var(--index) * 20);
    aspect-ratio: 1;
}

.venus-img{
    margin-top:calc(var(--gallery-gap) * 0.13) ;
}

.mars-img{
    width: calc(var(--index) * 25);
    margin-top:calc(var(--gallery-gap) * -0.2) ;
}


.saturn-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
    aspect-ratio: 2/1;
    width: calc(var(--index) * 30);
}

.neptun-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
}


/* MOON.HTML */

.main-title p{
    font-size: 1.6rem;
    color:#D9D9D9;
    margin-top: 1rem;
}
.main-title__moon{
    font-size: 3rem;
    padding-bottom: 2px;
    top: calc(var(--gallery-gap) * 0.5);
    left: calc(var(--gallery-gap) * 0.2);
}


/* .about-moon{
    display: flex;
    flex-direction: row;
} */
.about-moon__title{
    margin-top: calc(var(--gallery-gap) * 0.7) ;

}
.about-moon__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    height: 70rem;
    counter-reset: Moon;
}
.about-moon__name-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.about-moon__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    position: relative
}

.about-moon__item::before{
    position: absolute;
    counter-increment: Moon;
    content: counter(Moon);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #161616;
    top: -6rem;
    font-size: 2rem;
  }
  .about-moon__item h3{
    margin-bottom: 1rem;
  }

  .about-moon__article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: calc(var(--index)*10) auto;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .about-moon__article h3{
    margin-top: 10rem;
    margin-bottom: 1rem;
  }
  .about-moon__article h4{
    margin-bottom: 1rem;
  }
  .about-moon__article p{
    padding-bottom: 3rem;
  }

  .about-moon__article iframe{
    float: left;
  }

  .about-moon__article-img img{
    width: 25rem;
    float: left;
    object-fit: cover;
    padding: 0 2rem 2rem 0;
    
    
  }


@media (max-width: 1330px) {
    .gallery{
        display: flex;
        justify-content: flex-start;

    }
    .image{
        width: calc(var(--index) * 12);
    }
    .text-block{
        font-size: 1rem;
    }

    .gallery__right .text-block {
        margin-right: 0;
    }

    .gallery__left{
        margin-top: calc(var(--gallery-gap) * 0.15);
    }
    .mars-txt{
        margin-top: calc(var(--gallery-gap) * -0.2);
    }

    fieldset{
        width: 40%;
    }


}

@media (max-width: 1222px) {
    .gallery-planets{
        max-width: 100%;
    }
    fieldset{
        width: 30%;
    }
}

@media (max-width: 1100px) {
    .moon-title{
        width: 80%;
        flex-direction: column-reverse;
        margin: 8rem;
    }
    .Moon{
        margin: 2rem;
    }
    .moon__img{
        height: 28rem;
       
        object-fit: cover;
    }
    .gallery-planets{
        width: calc(var(--index) * 34);
    }
}

@media (max-width: 767px) {
    .move{
        display: none;
    }
    .index-SolarSysrem{
        align-items: center;
    }
    .gallery-planets{
        max-width: 70%;
    }
}
@media (max-width: 560px) {
    .gallery-planets{
        max-width: 60%;
        margin-left: calc(var(--gallery-gap)*0.5);
    }
}
