@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bruno Ace', cursive;
}

fieldset {
    border: 1px solid #fffab7;
    padding: var(--index);
    margin: 1rem;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f1f1f1;
    --color-text: #dfcece;
    --gallery-gap: calc(var(--index) * 20);
}






/* WILL CHANGE */
.content, .hero-section__img, .main-header, .gallery > *{
    will-change: transform;
}

html{
    box-sizing: border-box;
    max-height: 100%;
}

body{
    background-color: #000000;
    background-image: url('../img/bg-stars.jpg');
    background-size: cover;
    background-position: top center;
    color: #f7f7f7;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    min-height: calc(100vh - calc(var(--gallery-gap)*0.05));
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #9191911e;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: flex-start;
}

.container {
    margin: 0 auto;
    max-width: 1200px;  
}
.container-p{
    padding: 0 6vw;
}

.header-inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    z-index: 3;
}

.menu__list{
    display: flex;
    gap: calc(var(--index) * 2);
}

.menu__list-link.menu__list-link_here{
    cursor: default;
    background-size: 320%;
    background-position: right center;
}

.menu__list-link{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    padding: 1.2em 1rem;
    gap: 0.4rem;
    border-radius: 30px;
    border: none;
    color: #353000;
    text-shadow: 2px 2px 3px rgba(156, 76, 0, 0.932);
    background: linear-gradient(15deg, #fff01e, #ffc919, #ffcf31, #ffcd2a, #f0dd33, #deb93d, #ce5200, #b42b01, #b9000f) no-repeat;
    background-size: 300%;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(255, 196, 0, 0.2);
    transition: background .3s ease;
}
  
.menu__list-link:hover{
    background-size: 320%;
    background-position: right center;
}

.menu__list-item :active{
    color: rgb(182, 148, 0);
}

.main{
   flex-grow: 1;
}

.footer{
    padding: 0.625rem 0;
    color:#d9d9d9;
}

.footer .container {
    display: flex;
    justify-content: flex-end;
}

.footer__copy{
    padding: 1rem;
    font-size: 0.7rem;
}


.rotate-earth{
    display: flex;
    position: relative;
    top: 0;
    left: 35rem;
    right: 0;
    bottom: 0;
}

.sun-move{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background: linear-gradient(90deg, rgba(255,240,30,1) 0%, rgba(255,201,25,1) 35%, rgba(255,149,0,1) 100%);
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth-move, .moon-move{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth-move{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon-move{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earth-move::before, .moon-move::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth-move::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background: linear-gradient(90deg, rgba(0,31,140,1) 3%, rgba(0,159,2,1) 37%, rgba(64,111,250,1) 99%);
}
.moon-move::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background: linear-gradient(90deg, rgba(151,200,187,1) 3%, rgba(180,184,180,1) 37%, rgba(207,217,247,1) 99%);
}

@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}

.index-SolarSystem{
    width: 500px;
    position: absolute;
    top: 14rem;
    font-size: 1.2rem;
}

.list-planets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35rem;
}

.planets-title{
    font-size: 1.5rem;
    font-weight:900;
    padding: 4rem 0;
}
.gallery-planets{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 3em;
    overflow-x: auto ;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    max-width: 90%;
    margin: 0 2rem;
}


.gallery-planets__txt{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight:900;
    padding: 1rem 0;
}

.gallery-planets::-webkit-scrollbar-track {
    background: rgba(207, 207, 207, 0.24);
    border-radius: 50px;
}

.gallery-planets::-webkit-scrollbar {
    height: 20px;
}

.gallery-planets::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 50px;
}
.gallery-planets::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 238, 0, 0.575);
}
.gallery-planets::-webkit-scrollbar-thumb:active {
    background-color: yellow;
}


.gallery-planets_item{
    scroll-snap-align: center;
    margin-bottom: 2rem;
}

.gallery-planets__image{
    min-width:15rem;
    height: 15rem;
    padding: 1rem;
    object-fit: cover;
}

.moon-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Moon{
    font-size: 4rem;
    font-weight: bold;
    margin: 4rem;
}
.click{
    display: flex;
    align-items: center;
    font-size: 3rem;
    border: transparent;
    color:#ffffff80;
    cursor: pointer;
    border-radius: 1rem;
    padding: 15px 30px;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
}

.click:hover {
    background-image: linear-gradient(90deg, #ffdad8 0%, #d2aaff 50%, #008dce 75%, #ffdad8 100%);
    animation: slidernbw 5s linear infinite;
    color: #ffffff;
    border: none;
    box-shadow: #1ebfff  0px 7px 29px 0px;
   }

.click:active{
    transform: translateY(10px);
    transition: 100ms;
}
   
@keyframes slidernbw {
    to {
     background-position: 20vw;
    }
}

.moon__img{
    width: 40rem;
}
.moon-title{

    overflow: hidden;
}
.moon-title .text{
    position: relative;
    color: rgb(201, 144, 255);
    font-size: 1.7rem;
    font-weight: 400;
}
.moon-title .text.first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-left: 2px solid rgb(201, 144, 255);;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}



/* PLANETS.HTML */
.hero-section__img{
    width: 40rem;
    position: absolute;
    left: 45vw;
    top: 10vh;
    z-index: -1;
}

.main-header{
    height: 100vh;
}

.main-title{
    font-size: calc(var(--index) * 5);
    position: absolute;
    width: min-content;
    bottom: 10vh;
    line-height: .9;
    color: yellow;
}

.main-title p{
    width: 40rem;
}


.gallery{
    display: flex;
    padding: calc(var(--index) * 30) 0;
}
.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.gallery-item{
    margin-bottom: var(--gallery-gap);
}

 .gallery__right .gallery-item{
    margin-bottom: calc(var(--gallery-gap) );
    margin-left: calc(var(--gallery-gap) * 0.2);
}

.text-block{
    font-size: 1.5rem;
}
.text-block__h{
    color:#f0f0f0;
    margin-bottom: 1.5rem;
}
.text-block_p{
    color: #d1cfcf;
}

.gallery__right .text-block {
    margin-right: calc(var(--gallery-gap) * 0.4);
}

.gallery__right {
    margin-top: calc(var(--gallery-gap) * 0.3);
}

.image{
    width: calc(var(--index) * 20);
    aspect-ratio: 1;
}

.venus-img{
    margin-top:calc(var(--gallery-gap) * 0.13) ;
}

.mars-img{
    width: calc(var(--index) * 25);
    margin-top:calc(var(--gallery-gap) * -0.2) ;
}


.saturn-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
    aspect-ratio: 2/1;
    width: calc(var(--index) * 30);
}

.neptun-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
}


/* MOON.HTML */

.main-title p{
    font-size: 1.6rem;
    color:#D9D9D9;
    margin-top: 1rem;
}
.main-title__moon{
    font-size: 3rem;
    padding-bottom: 2px;
    top: calc(var(--gallery-gap) * 0.5);
    left: calc(var(--gallery-gap) * 0.2);
}

.about-moon__title{
    margin-top: calc(var(--gallery-gap) * 0.7) ;

}
.about-moon__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    counter-reset: Moon;
    margin-bottom: 23rem;
}
.about-moon__name-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.about-moon__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin-top: 7rem;
    position: relative;
    font-size: 1.3rem;
}

.about-moon__item::before{
    position: absolute;
    counter-increment: Moon;
    content: counter(Moon);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 117, 18);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #161616;
    top: -6rem;
    font-size: 2rem;
}
.about-moon__item h3{
    margin-bottom: 1rem;
}

.about-moon__article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.5;
}
.about-moon__article h3{
    margin-top: 10rem;
    margin-bottom: 1rem;
}
.about-moon__article h4{
    margin-bottom: 0.5rem;
}
.about-moon__article p{
    padding-bottom: 1rem;
}

.about-moon__article iframe{
    float: left;
}

.about-moon__article-img img{
    width: 25rem;
    float: left;
    object-fit: cover;
    padding: 0 2rem 2rem 0;
}