@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bruno Ace', cursive;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f1f1f1;
    --color-text: #dfcece;
    --gallery-gap: calc(var(--index) * 20);
}



/* WILL CHANGE */
.content, .hero-section__img, .main-header, .gallery > *{
    will-change: transform;
}

html{
    box-sizing: border-box;
    max-height: 100%;
}

body{
    background-color: #000000;
    background-size: 50px;
    color: #f7f7f7;
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    min-height: calc(100vh - calc(var(--gallery-gap)*0.05));
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #000000;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 6vw;
}

.header-inner{
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list{
    display: flex;
    gap: 3.125rem;
}

.menu__list-item{
    color: #D9D9D9;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.menu__list-link_here{
  color:hwb(56 0% 0%);
  cursor: default;
}

.main{
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: end;
}
.main__container {
    margin: 0 auto;
    
  }

.footer{
    background-color:#000000;
    padding: 0.625rem 0;
    color:#D9D9D9;
    height: calc(var(--gallery-gap)*0.05);
}

.footer__copy{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.875rem;
    font-size:small;
}


.rotate-earth{
    display: flex;
    margin: var(--gallery-gap);
}
.sun-move{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth-move, .moon-move{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth-move{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon-move{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earth-move::before, .moon-move::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth-move::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}
.moon-move::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

@keyframes orbit {
    to{
        transform: rotate(360deg);
    }
}


.gallery-planets{
    display: flex;
    justify-content: flex-start;
    align-items: end;
    flex-direction: row;
    column-gap: 1em;
    overflow-x: auto ;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.gallery-planets::-webkit-scrollbar-track
{
    background: rgba(128, 128, 128, 0.1);
}

.gallery-planets::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

.gallery-planets::-webkit-scrollbar-thumb
{
    background-color: rgba(251, 255, 0, 0.75);
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
}

.gallery-planets_item{
    scroll-snap-align: center;
    
}

.gallery-planets__image{
    width:15rem;
    height: 15rem;
    min-width: 100%;
    padding: 1rem;
    object-fit: cover;
}

.hero-section__img{
    width: calc(var(--index) * 28);
    position: absolute;
    left: 45vw;
    top: 10vh;
    z-index: -1;
}

.main-header{
    height: 100vh;
}

.main-title{
    font-size: calc(var(--index) * 5);
    position: absolute;
    width: min-content;
    bottom: 10vh;
    line-height: .9;
    color: #e8f536;
}

.gallery{
    display: flex;
    padding: calc(var(--index) * 30) 0;
}
.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.gallery-item{
    margin-bottom: var(--gallery-gap);
}

 .gallery__right .gallery-item{
    margin-bottom: calc(var(--gallery-gap) );
    margin-left: calc(var(--gallery-gap) * 0.2);
}

.text-block{
    font-size: 1.5rem;
}
.text-block__h{
    color:#f0f0f0;
    margin-bottom: 1.5rem;
}
.text-block_p{
    color: #d1cfcf;
}

.gallery__right .text-block {
    margin-right: calc(var(--gallery-gap) * 0.4);
}

.gallery__right {
    margin-top: calc(var(--gallery-gap) * 0.3);
}

.image{
    width: calc(var(--index) * 20);
    aspect-ratio: 1;
}

.venus-img{
    margin-top:calc(var(--gallery-gap) * 0.13) ;
}

.mars-img{
    width: calc(var(--index) * 25);
    margin-top:calc(var(--gallery-gap) * -0.2) ;
}


.saturn-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
    aspect-ratio: 2/1;
    width: calc(var(--index) * 30);
}

.neptun-img{
    margin-top: calc(var(--gallery-gap) * 0.15);
}

@media (max-width: 1330px) {
    .gallery{
        display: flex;
        justify-content: flex-start;

    }
    .image{
        width: calc(var(--index) * 12);
    }
    .text-block{
        font-size: 1rem;
    }

    .gallery__right .text-block {
        margin-right: 0;
    }
}


